body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #45b2ff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.profile {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

.profile img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

h1 {
    margin: 0;
}

section {
    margin: 20px;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li::before {
    content: "\2022";
    color: #333;
    display: inline-block;
    width: 1em;
    margin-left: auto;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(153, 36, 30);
}

a:visited {
    color: rgb(65, 132, 247);
}
